html, body {
	padding-top: 50px;
}

.navbar.navbar-cisco {
	background-color: #0097D6;
}

.navbar-cisco .navbar-brand {
	color: #ffffff !important;
}

.navbar-icon {
	position: absolute;
	left: 20px;
	top: 10px;
}

a[role=button], div[role=button] {
	cursor: pointer;
}

.stats > div {
	border-right: 1px solid #BBB;
	font-size: .9em;
}

.active .stats > div {
	color: #c7ddef;
	border-right-color: #c7ddef;
}

.stats > div:last-child {
	border-right: 0 !important;
}

.instance-title {
	font-weight: bold;
	font-size: 1em;
}